@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 96%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 94%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 94%;
    --muted-foreground: 240 4% 46%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 25 95% 53%;
    --chart-1: 25 95% 53%;
    --chart-2: 220 70% 50%;
    --chart-3: 220 13% 60%;
    --chart-4: 220 13% 70%;
    --chart-5: 220 13% 80%;
    --radius: 1rem;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 240 5% 96%;
    --card: 240 4% 12%;
    --card-foreground: 240 5% 96%;
    --popover: 240 4% 12%;
    --popover-foreground: 240 5% 96%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 18%;
    --secondary-foreground: 240 5% 96%;
    --muted: 240 4% 18%;
    --muted-foreground: 240 4% 65%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 25 95% 53%;
    --chart-1: 25 95% 53%;
    --chart-2: 220 70% 50%;
    --chart-3: 217 33% 30%;
    --chart-4: 217 33% 40%;
    --chart-5: 217 33% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
